version: '3'
services:
        fastapi:
                build: ./backend
                command: ["gunicorn", "-k", "uvicorn.workers.UvicornWorker", "main:app"]
                volumes:
                        - ./backend:/app/backend
                ports:
                        - "8000:8000"
        frontend:
                build: ./frontend
                command: ["npm", "start"]
                environment: 
                        PROXY_API: http://localhost:8000
                volumes:
                        - ./frontend:/app/frontend
                ports:
                        - "3000:3000"
volumes:
        node-modules:
