.career_hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  background-image: url("../../public/assets/careers/hero.png");
}

.career_container {
  padding: 0 2em;
}

.career_introtext {
  text-align: center;
  margin: 3em 0 2em;
  color: #2b2a30;
}

.career_heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1em;
  max-width: 600px;
  margin-inline: auto;
}

.career_subheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.career_center {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 18px;
}

.career_left {
  margin-bottom: 1em;
}

.career_marginbtm {
  margin-bottom: 1em;
}

.career_oport h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2b2a30;
  margin-bottom: 1em;
}

.career_sec {
  margin-bottom: 3em;
}

.career_oport p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 2em;
}

.career_findjob {
  display: none;
}

.career_filter {
  width: 100%;
  border: 1px solid#2B2A30;
  background-position: 90%;
  background-repeat: no-repeat;
  background-image: url("../../public/assets/careers/Sliders.svg");
  padding: 0.5em 1em;
  max-width: 400px;
  margin: 1em auto;
  display: block;
}

.career_small {
  font-size: 14px;
  width: 100%;
  font-weight: 500;
}

.career_pt {
  display: block;
  margin: 2em auto;
  text-align: center;
  background: #ef6820;
  border-radius: 5px;
  color: #ffffff;
  padding: 0.5em 1.5em;
  border: 0;
  max-width: 300px;
}

.career_flex {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
  font-weight: 400;
  padding: 0 1em;
}

.career_gflex {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.career_arrowicon {
  width: 20px;
}

.career_arrow {
  display: flex;
  align-items: center;
  gap: 1em;
}

.career_hr {
  display: none;
}

.career_opp {
  text-align: center;
}

@media (min-width: 60rem) {
  .career_grid {
    display: grid;
    align-items: center;
    gap: 0.5em;
    grid-template-columns: 2fr 1fr 2fr;
  }

  .career_hr {
    display: block;
  }

  .career_container {
    padding-inline: 4em;
  }

  .career_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 5em;
    position: relative;
  }

  .career_center {
    position: relative;
    top: -5em;
    text-align: left;
  }

  .left {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  h2.left {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    padding: 0 3em;
  }

  .career_con {
    position: absolute;
    top: 7em;
    text-align: left;
    max-width: 350px;
  }

  .career_con.left {
    grid-column: 2;
    max-width: 100%;
    text-align: right;
    padding: 0 3em;
  }

  .career_more {
    width: 150px;
    margin-inline: 0;
  }

  .career_more.left {
    display: inline;
  }

  .career_findjob {
    display: block;
    border: 1px solid #2b2a30;
    width: 70%;
    padding: 0.5em 3em 0.5em;
    margin: 0.5em auto;
    background-position: 2%;
    background-repeat: no-repeat;
    background-image: url("../../public/assets/careers/akar-icons_search.svg");
  }

  .career_findjob::placeholder {
    color: #2b2a30;
  }

  .career_filter {
    display: none;
  }
}