.weather {
  width: 22rem;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 4px rgba(55, 54, 54, 0.1);
  background-color: #fef2f2;
  color: #ed861f;
  margin: 1.8rem auto 0 auto;
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  margin-block-end: 0.2rem;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 3px solid #fff;
}

@media screen and (max-width: 42.5em){
  .weather{
    max-width: 20rem;
  }

  .temperature{
    font-size: 1.9rem;
  }
}