
.faq {
  width: 70%;
}
.faq-text {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 1200px) {
  .faq {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .faq {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .faq {
    width: 92%;
  }
}
@media (max-width: 700px) {
  .faq {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .faq {
    width: 100%;
  }
}

.faq-text {
  display: flex;
  justify-content: space-between;
  border-top: #eaecf0 1px solid;
  align-items: center;
}
.faq-question__text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 24px;
  letter-spacing: -0.01em;
  color: #2b2a30;
}
.toggle-icon {
  color: #f05513;
}
.faq-answer__text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  letter-spacing: 0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #82808f;
  margin-bottom: 32px;

  margin-top: 8px;
}