#home {
  display: flex;
  flex-direction: column;
  gap: 54px;
  --l-primary-color: #ef6820;
  font-family: "Outfit";
  position: relative;
}

.homepage-location {
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #b5b5b5;
  border-radius: 40px;
  position: absolute;
  top: 2em;
  left: 2em;
  padding: 0.4em 0.8em;
}

.homepg-weatherfc {
  max-width: 100%;
  margin-bottom: 100px;
}

.homepg-worldone {
  display: none;
}

.homepg-worldtwo {
  display: none;
}

.homepg-worldforecast {
  text-align: center;
  padding: 2em;
}

.homepg-explore {
  background: #ef6820;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  padding: 1em;
  margin-top: 3em;
}

.homepg-worldforecast h2 {
  font-size: 24px;
  font-weight: 700;
}

.homepg-weatherfc ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.homepg-weatherfc ul::-webkit-scrollbar {
  display: none;
}

.homepg-heroforecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepg-dash {
  display: block;
  background-image: url("../../public/Home/Frame 26086000.svg");
  width: 40px;
  height: 40px;
}

.homepg-weatherfc li {
  list-style: none;
}

.homepg-popflex {
  display: flex;
  gap: 1em;
  align-items: center;
}



.homepg-immedp {
  font-size: 40px;
  line-height: 52px;
  text-transform: capitalize;
}

.homepg-poplis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.landing_header {
  background-image: url("/public/Home/bg.jpg");
  background-size: cover;
  color: white;
  height: 34em;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.landing_sections_wrapper {
  display: flex;
  flex-direction: column;
  width: min(100%, 1400px);
  align-items: center;
  margin-inline: auto;
  padding-inline: 88px;
}

.landing_header_content_container {
  display: flex;
  width: min(100%, 834px);
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.landing_hero_link {
  width: 150px;
  padding: 16px 0;
  text-align: center;
}

.landing_weather_brief {
  display: flex;
  align-items: center;
  gap: 16px;
}

.landing_weather_brief p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.landing_warning {
  display: flex;
  padding: 8px 16px;
  gap: 12px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 40px;
}

.landing_locations_header {
  display: flex;
  color: #1e1e1e;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.landing_header_md {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.landing_locations_header h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #565560;
}

.landing_location_placeholder {
  font-size: 0rem;
  font-weight: 450;
}

.landing_locations_container {
  color: #1e1e1e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.landing_scroll_indicator {
  justify-content: center;
  gap: 4px;
  margin-top: -40px;
  display: none;
}

.landing_scroll_indicator>div {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: var(--accents-3);
}

.landing_location_brief {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.landing_location_brief_header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e7ea;
}

.landing_location_brief_header h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
}

.landing_location_body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.landing_location_body h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #2b2a30;
}

.landing_location_body p {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .landing_location_brief {
    background-color: var(--background);
    border-radius: 10px;
    padding: 50px 20px;
    color: var(--foreground);
  }

  .landing_location_body h5 {
    color: var(--accents-7);
  }
}

.landing_link_button {
  text-align: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ef6820;
}

.landing_features_and_globe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 88px;
}

.landing_globe {
  grid-area: 1 / 1 / 5 / 2;
}

.landing_features {
  grid-area: 1 / 2 / 4 / 3;
}

.landing_showcase {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.landing_showcase h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
}

.landing_showcase p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: var(--accents-6);
}

.landing_ill_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 48px;
  padding-bottom: 0;
  background-color: var(--ill-bg);
  border-radius: 24px;
}

.landing_ill_container h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.025em;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #161518;
}

.landing_ill_container p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "tnum" on, "lnum" on, "liga" off;
  color: #565560;
}

#landing_download_app {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: #fdead7;
  border-radius: 16px;
  margin-bottom: 100px;
  overflow: hidden;
  margin: 1em auto;
}

.landing_download_container {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.landing_download_container {
  color: var(--l-primary-color);
}

.homepg-orange {
  color: black;
}

.landing_download_container h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #161518;
  margin-block: 20px;
  /* max-width: 300px; */
}

.landing_download_container p {
  max-width: 500px;
}

.landing_download_container div {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
  justify-content: center;
}

.landing_phones_wrapper {
  position: relative;
  width: 800px;
  height: auto;
  max-height: 500px;
  overflow: hidden;
}

.landing_phones_container {
  display: grid;
  width: 600px;
  transform: rotate(-25deg) translate(40%, -10%);
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.landing_phones_container>img {
  width: 500px;
}

.landing_phones_container img:first-child {
  grid-area: 2 / 1 / 4 / 2;
}

.landing_phones_container img:nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
}

.landing_phones_container img:nth-child(3) {
  grid-area: 3 / 2 / 5 / 3;
}

.landing_phones_container img:last-child {
  grid-area: 2 / 3 / 4 / 4;
}

@media screen and (max-width: 768px) {
  .landing_sections_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-inline: 24px;
  }

  .landing_locations_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .landing_header_message {
    font-size: 10vw;
    line-height: 140%;
  }

  .landing_scroll_indicator {
    display: flex;
  }

  .landing_locations_container {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .landing_locations_container::-webkit-scrollbar {
    display: none;
  }

  .landing_location_brief {
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .landing_phones_wrapper {
    display: none;
  }

  .landing_phones_container {
    width: 400px;
    transform: rotate(-25deg) translate(20%, -10%);
  }

  .landing_features_and_globe {
    display: flex;
    flex-direction: column;
    gap: 88px;
  }

  .landing_download_container div>img {
    width: 50%;
  }

  .landing_download_container h3 {
    font-size: 8vw;
    line-height: 140%;
  }
}

@media (min-width: 60rem) {
  #landing_download_app {
    flex-direction: row;
    justify-content: space-between;
  }

  .homepg-immed {
    display: flex;
    align-items: flex-start;
  }

  .homepg-worldone {
    display: block;
  }

  .homepg-worldtwo {
    display: block;
  }

  .homepg-worldforecast {
    padding: 3em 5em;
  }

  .homepg-worldul {
    display: flex;
    justify-content: space-between;
  }

  .homepg-poplis {
    gap: 3em;
  }

  .homepg-phone {
    content: url("../../public/Home/iPhone\ 13.png");
  }

  .landing_download_container div {
    justify-content: left;
  }
}