
.header{
    background-image: url('../assets/weatherBusinessImgs/Map.png');
    /* height: 600px; */
  }

.customCard {
  background-color: #F3F3F4;
  /* height: 100%;   */
  /* width: 49px; */
  border-radius: 8px;

}

.weatheryBusinessProducts button {
  /* padding: 14px 10px; */
  width: 200px;
  height: 50px;
  /* gap: 8px; */
  background: #EF6820;
  border-radius: 4px;
}

.BusinessWorksCard1 {
  height: 620px;
  background-image: url('../assets/weatherBusinessImgs/partner.png');
  background-position: center center;
  background-size: cover;
}

.BusinessWorksCard2 {
  height: 620px;
  background-image: url('../assets/weatherBusinessImgs/prepare.png');
  background-position: center center;
  background-size: cover;
}

.BusinessWorksCard3 {
  height: 620px;
  background-image: url('../assets/weatherBusinessImgs/protect.png');
  background-position: center center;
  background-size: cover;
}

.WeatherIndustryCard {
  width: 371px;
  border: 1px solid #565560;
  border-radius: 8px;
}

.WeatherForm input{
    height: 44px;
  /* width: 380px; */

  background: #E8E7EA !important;
  border-radius: 8px;
}

.WeatherForm input::placeholder {
  color: #D3D3D3;
  padding-left: 10px;
}

.WeatherForm button {
  width: 100%;
  height: 64px;
  color: #FBFBFC !important;
  background-color: #EF6820 !important;
  border-radius: 4px;
}