OPEN_WEATHER_API_KEY="bd7fbd53339fa23cdc6fc863e601bd9e"





DB_TYPE = postgresql
DB_NAME = fastapi
DB_USER = username
DB_PASSWORD = password
DB_HOST = localhost
DB_PORT = 5432
MYSQL_DRIVER = string
OPEN_WEATHER_API_KEY = 958e2f39102522613209dafeca02963e

SQLALCHEMY_URL = postgresql://username:password@localhost/fastapi