OPEN_WEATHER_API_KEY=test
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
WEBSOCKET_REDIS_URL=redis://localhost:6379/0
LOCAL_REDIS_URL=redis://localhost:6379
DB_TYPE = sqlite
DB_NAME = test
DB_USER = test
DB_PASSWORD = test
DB_HOST = test
DB_PORT = test
MYSQL_DRIVER = test