OPEN_WEATHER_API_KEY=test
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
DB_TYPE = postgresql
DB_NAME = fastapi
DB_USER = username
DB_PASSWORD = password
DB_HOST = localhost
DB_PORT = 5432
MYSQL_DRIVER = string