<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <title>Weathery API Status</title>
        <link rel="stylesheet" href="{{ url_for('cssfile', path='/styles.css') }}">
  </head>
  <body>
        <div class="main">
            <h2>Status Page</h2>
            <table class="styled-table">
                <thead>
                    <th>Endpoint</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>/weather/forecasts</td>
                        <td><div class="{{ forecasts }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/current</td>
                        <td><div class="{{ current }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/current/by-address</td>
                        <td><div class="{{ current_by_address }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/immediate</td>
                        <td><div class="{{ forecasts_immediate }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/tomorrow/immediate</td>
                        <td><div class="{{ tomorrow_immediate}}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/alerts/list</td>
                        <td><div class="{{ alerts_list }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/risk</td>
                        <td><div class="{{ risk }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/extended</td>
                        <td><div class="{{ forecast_extended }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/extended/by_address</td>
                        <td><div class="{{ forecast_extended_by_address }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/tomorrow</td>
                        <td><div class="{{ forecasts_tomorrow }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/tomorrow/by-address</td>
                        <td><div class="{{ forecasts_tomorrow_address }}"></div></td>
                    </tr>
                    <tr>
                        <td>/location</td>
                        <td><div class="{{ location }}"></div></td>
                    </tr>
                    <tr>
                        <td>/generate/share-link</td>
                        <td><div class="{{ share }}"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
  </body>
</html>