<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <title>Weathery API Status</title>
        <link rel="stylesheet" href="{{ url_for('cssfile', path='/styles.css') }}">
  </head>
  <body>
        <div class="main">
            <h2>Status Page</h2>
            <table class="styled-table">
                <thead>
                    <th>Endpoint</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>/weather/forecasts</td>
                        <td><div class="{{ forecasts }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/current</td>
                        <td><div class="{{ current }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/immediate</td>
                        <td><div class="{{ immediate }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/tomorrow</td>
                        <td><div class="{{ tomorrow }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/forecasts/tomorrow/immediate</td>
                        <td><div class="{{ tomorrow_im}}"></div></td>
                    </tr>
                    <tr>
                        <td>/location</td>
                        <td><div class="{{ location }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/risk</td>
                        <td><div class="{{ risk }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/alerts/city_name</td>
                        <td><div class="{{ alert_city }}"></div></td>
                    </tr>
                    <tr>
                        <td>/weather/alerts/list</td>
                        <td><div class="{{ alert_list }}"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
  </body>
</html>